$black1: hsl(0, 0%, 0%);
$black2: hsl(0, 0%, 10%);
$white1: hsl(0, 0%, 100%);

.bg-black1 {
    color: $white1;
    background-color: $black1;
}

.bg-black2 {
    color: $white1;
    background-color: $black2;
}

.bg-white {
    color: $black1;
    background-color: $white1;
}