$black1: hsl(0, 0%, 0%);
$black2: hsl(0, 0%, 10%);
$white1: hsl(0, 0%, 100%);

$saturation: 70%;
$lightL: 60%;
$darkL: 35%;

$blue1: hsl(207, $saturation, $lightL);
$blue2: hsl(207, $saturation, $darkL);
$green1: hsl(123, $saturation, $lightL - 35);
$green2: hsl(123, $saturation, $darkL - 20);
$red1: hsl(2, $saturation - 10, $lightL - 15);
$red2: hsl(2, $saturation - 10, $darkL - 10);
$orange1: hsl(25, $saturation, $lightL);
$orange2: hsl(25, $saturation, $darkL + 5);

.front {

    &.good {
        @extend .bg-green1;
        background: linear-gradient($green1, $green2);
    }
    
    &.bad {
        @extend .bg-red1;
        background: linear-gradient($red1, $red2);
    }
    
    &.improve {
        @extend .bg-orange1;
        background: linear-gradient($orange1, $orange2);
    }

}


.bg-blue1 {
    color: $white1;
    background-color: $blue1;
}

.bg-blue2 {
    color: $white1;
    background-color: $blue2;
}

.bg-green1 {
    color: $white1;
    background-color: $blue1;
}

.bg-green2 {
    color: $white1;
    background-color: $green2;
}

.bg-red1 {
    color: $white1;
    background-color: $red1;
}

.bg-red2 {
    color: $white1;
    background-color: $red2;
}


.bg-orange1 {
    color: $white1;
    background-color: $orange1;
}



.bg-orange2 {
    color: $white1;
    background-color: $orange2;
}

.bg-black1 {
    color: $white1;
    background-color: $black1;
}

.bg-black2 {
    color: $white1;
    background-color: $black2;
}

.bg-white {
    color: $black1;
    background-color: $white1;
}