body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

nav{
    display: flex;
    padding-left: 1em;
    justify-content: space-around;
    .actions {
        #reset {
            cursor: pointer;
        }
    }
}