body {
    margin: 0;
}

nav{
    display: flex;
    padding-left: 1em;
    justify-content: space-around;
    .actions {
        display: flex;
        flex-direction: row-reverse;
        p {
            margin: 1em;
            cursor: pointer;
        }
    }
}