$cardWidth: 12em;
$cardHeight: 19.2em;

$white: #fff;

$blue1: hsl(207, 70%, 60%);
$blue2: hsl(207, 70%, 35%);
$green1: hsl(123, 60%, 25%);
$green2: hsl(123, 60%, 5%);
$red1: hsl(2, 60%, 45%);
$red2: hsl(2, 60%, 25%);
$orange1: hsl(25, 70%, 60%);
$orange2: hsl(25, 70%, 40%);
$yellow1: hsl(51, 70%, 60%);
$yellow2: hsl(51, 70%, 40%);
$white1: hsl(51, 2%, 85%);
$white2: hsl(51, 2%, 70%);

.card {
    width: $cardWidth;
    height: $cardHeight;
    font-family: monospace;
    .remove {
        height: 1rem;
        width: 1rem;
        color: #fff;
        position: absolute;
        bottom: 0.2rem;
        right: 0.2rem;
        font-size: 1rem;
        &::before {
            content: "x";
        }
    }
}

.front {
    color: $white;
    font-size: 1.2em;

    &.good {
        background: linear-gradient($green1, $green2);
    }
    
    &.bad {
        background: linear-gradient($red1, $red2);
        background-color: $red1;
    }
    
    &.improve {
        background: linear-gradient($orange1, $orange2);
    }
    &.star {
        color: #000;
        background: linear-gradient($yellow1, $yellow2);
    }
    &.scenario {
        background-color: #000;
    }
    &.answer {
        color: #000;
        background-color: linear-gradient($white1,$white2);
    }
}

.back {
    font-size: 2em;
    flex-direction: column-reverse;
}