$cardWidth: 12em;
$cardHeight: 19.2em;

$blue1: hsl(207, 70%, 60%);
$blue2: hsl(207, 70%, 35%);
$green1: hsl(123, 60%, 60% - 35);
$green2: hsl(123, 60%, 5%);
$red1: hsl(2, 60%, 60% - 15);
$red2: hsl(2, 60%, 25%);
$orange1: hsl(25, 70%, 60%);
$orange2: hsl(25, 70%, 40%);

.card {
    width: $cardWidth;
    height: $cardHeight;
    font-family: monospace;
}

.front {
    color: $white1;
    font-size: 1.2em;

    &.good {
        background: linear-gradient($green1, $green2);
    }
    
    &.bad {
        background: linear-gradient($red1, $red2);
        background-color: $red1;
    }
    
    &.improve {
        background: linear-gradient($orange1, $orange2);
    }
}

.back {
    font-size: 2em;
    flex-direction: column-reverse;
}